![](https://i.imgur.com/0AUxkXt.png)

# Assignment 3 - From data to insights

Before you explore the data, write down a short list of what you expect to see in the data: the distribution of key variables, the relationships between important pairs of them, and so on. Such a list is essentially a prediction based on your current understanding of the business.

Now analyze the data. Make plots, do summaries, whatever is needed to see if it matches your expectations.

Is there anything that doesn’t match? Anything that makes you go “That’s odd” or “That doesn’t make any sense.”?

Zoom in and try to understand what in your business is making that weird thing show up in the data like that. This is the critical step.

You may have just found an insight into the business and increased your understanding


## The data analysis checklist

This checklist can be used as a guide during the process of a data analysis, or as a way to evaluate the quality of a reported data analysis.

### Answering the first questions

1. Did you define the metric for success before beginning?
2. Did you understand the context for the question and business application?
3. Did you consider whether the question could be answered with the available data?

### Cleaning the data

1. Did you identify the missing data?
2. Is each variable one column?
3. Do different data types appear in each table?
4. Did you try to identify any errors or miscoding of variables?
5. Did you check for outliers?

### Exploratory analysis

1. Did you make univariate plots (histogram, distplot, boxplot)?
2. Did you consider correlations between variables (scatterplot, jointplot, kde plot, correlation matrix)?
3. Did you check the units of all data points to make sure they are in the right range?

### Presentations

1. Did you lead with a brief, understandable to everyone of your problem?
2. Did you explain the data, describe the question of interest?
3. Did you make sure all legends and axes were legible from the back of the room?

## Dataset - Online Retailes Purchase

Typically e-commerce datasets are proprietary and consequently hard to find among publicly available data. However, [The UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php) has made this dataset containing actual transactions from 2010 and 2011. The dataset is maintained on their site, where it can be found by the title "Online Retail".


### Step 1 - Checking the data

**Import tools set**

In [0]:
# Your code here
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

**Import data**

In [0]:
# link = "https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/Online_Retail.csv"
# Note: set param encoding = 'latin1'
# Your code here
onlre= pd.read_csv('https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/Online_Retail.csv', encoding = 'latin1')

In [3]:
# Print out First 5 rows from dataframe
# Your code here
onlre.head(5)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [4]:
# Print out brief info
onlre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Step 2 - Cleaning the data

Few of useful data cleaning functions:

* `s.astype('category')` # This will convert the datatype of the series to float *Please note that "s" here is a Pandas Series

* `s.replace(1,'one')` # This will replace all values equal to 1 with 'one'

* `s.replace([1,3],['one','three'])` # This will replace all 1 with 'one' and 3 with 'three'

* `data.rename(columns=lambda x: x + 1)` # Mass renaming of columns

* `data.rename(columns={'oldname': 'new name'})` # Selective renaming

* `data.set_index('column_one')` #  This will change the index

* `data.rename(index=lambda x: x + 1)` # Mass renaming of index

* `data.dropna()` # Remove missing values

* `data.fillna(x)` #  This will replaces all null values with x

* `s.fillna(s.mean())` # This will replace all null values with the mean (mean can be replaced with almost any function from the below section) :

* `data.corr()` # This will return the correlation between columns in a DataFrame

* `data.count()` # This will return the number of non-null values in each DataFrame column

* `data.max()` # This will return the highest value in each column

* `data.min()` # This will return the lowest value in each column

* `data.median()` # This will return the median of each column

* `data.std()` # This will returns the standard deviation of each column

**Check for NaN values**

In [5]:
# Your code here
onlre.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Examine few examples of NaN values**

In [6]:
# List all NaN values
print(onlre[onlre['Description'].isna()])
print(onlre[onlre['CustomerID'].isna()])

       InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
622       536414     22139         NaN  ...        0.0        NaN  United Kingdom
1970      536545     21134         NaN  ...        0.0        NaN  United Kingdom
1971      536546     22145         NaN  ...        0.0        NaN  United Kingdom
1972      536547     37509         NaN  ...        0.0        NaN  United Kingdom
1987      536549    85226A         NaN  ...        0.0        NaN  United Kingdom
1988      536550     85044         NaN  ...        0.0        NaN  United Kingdom
2024      536552     20950         NaN  ...        0.0        NaN  United Kingdom
2025      536553     37461         NaN  ...        0.0        NaN  United Kingdom
2026      536554     84670         NaN  ...        0.0        NaN  United Kingdom
2406      536589     21777         NaN  ...        0.0        NaN  United Kingdom
4347      536764    84952C         NaN  ...        0.0        NaN  United Kingdom
4348      536765    84952C         NaN  ...        0.0        NaN  United Kingdom
7187      536995     35951         NaN  ...        0.0        NaN  United Kingdom
7188      536996     22712         NaN  ...        0.0        NaN  United Kingdom
7189      536997     22028         NaN  ...        0.0        NaN  United Kingdom
7190      536998     85067         NaN  ...        0.0        NaN  United Kingdom
7191      536999     21421         NaN  ...        0.0        NaN  United Kingdom
7192      537000     21414         NaN  ...        0.0        NaN  United Kingdom
7193      537001     21653         NaN  ...        0.0        NaN  United Kingdom
7194      537002     21651         NaN  ...        0.0        NaN  United Kingdom
7195      537003     85126         NaN  ...        0.0        NaN  United Kingdom
7196      537004     21814         NaN  ...        0.0        NaN  United Kingdom
7197      537005     21692         NaN  ...        0.0        NaN  United Kingdom
7198      537006     21648         NaN  ...        0.0        NaN  United Kingdom
7199      537007     21172         NaN  ...        0.0        NaN  United Kingdom
7200      537008     21161         NaN  ...        0.0        NaN  United Kingdom
7201      537009    84534B         NaN  ...        0.0        NaN  United Kingdom
7202      537010     22162         NaN  ...        0.0        NaN  United Kingdom
7203      537011     22139         NaN  ...        0.0        NaN  United Kingdom
7204      537012     21535         NaN  ...        0.0        NaN  United Kingdom
...          ...       ...         ...  ...        ...        ...             ...
497632    578431     22579         NaN  ...        0.0        NaN  United Kingdom
497677    578456     22579         NaN  ...        0.0        NaN  United Kingdom
498597    578529     22087         NaN  ...        0.0        NaN  United Kingdom
499156    578628     23541         NaN  ...        0.0        NaN  United Kingdom
499157    578629     22943         NaN  ...        0.0        NaN  United Kingdom
499169    578632     22579         NaN  ...        0.0        NaN  United Kingdom
499787    578693     21811         NaN  ...        0.0        NaN  United Kingdom
500161    578738     21638         NaN  ...        0.0        NaN  United Kingdom
508796    579272     22812         NaN  ...        0.0        NaN  United Kingdom
510622    579460     21110         NaN  ...        0.0        NaN  United Kingdom
511451    579500     22810         NaN  ...        0.0        NaN  United Kingdom
514205    579688     21116         NaN  ...        0.0        NaN  United Kingdom
514287    579691    47503A         NaN  ...        0.0        NaN  United Kingdom
514651    579738     21927         NaN  ...        0.0        NaN  United Kingdom
516189    579880     22947         NaN  ...        0.0        NaN  United Kingdom
517719    580087    84341B         NaN  ...        0.0        NaN  United Kingdom
519967    580197     22696         NaN  ...        0.0        NaN  United Kingdom
521333    580359     20775         NaN  ...        0.0        NaN  United Kingdom
522160    580379    72225C         NaN  ...        0.0        NaN  United Kingdom
522162    580381     21758         NaN  ...        0.0        NaN  United Kingdom
524473    580580     21804         NaN  ...        0.0        NaN  United Kingdom
524475    580588     21808         NaN  ...        0.0        NaN  United Kingdom
529667    580743    47591B         NaN  ...        0.0        NaN  United Kingdom
533711    581102     21803         NaN  ...        0.0        NaN  United Kingdom
533712    581103     22689         NaN  ...        0.0        NaN  United Kingdom
535322    581199     84581         NaN  ...        0.0        NaN  United Kingdom
535326    581203     23406         NaN  ...        0.0        NaN  United Kingdom
535332    581209     21620         NaN  ...        0.0        NaN  United Kingdom
536981    581234     72817         NaN  ...        0.0        NaN  United Kingdom
538554    581408     85175         NaN  ...        0.0        NaN  United Kingdom

[1454 rows x 8 columns]
       InvoiceNo StockCode  ... CustomerID         Country
622       536414     22139  ...        NaN  United Kingdom
1443      536544     21773  ...        NaN  United Kingdom
1444      536544     21774  ...        NaN  United Kingdom
1445      536544     21786  ...        NaN  United Kingdom
1446      536544     21787  ...        NaN  United Kingdom
1447      536544     21790  ...        NaN  United Kingdom
1448      536544     21791  ...        NaN  United Kingdom
1449      536544     21801  ...        NaN  United Kingdom
1450      536544     21802  ...        NaN  United Kingdom
1451      536544     21803  ...        NaN  United Kingdom
1452      536544     21809  ...        NaN  United Kingdom
1453      536544     21810  ...        NaN  United Kingdom
1454      536544     21811  ...        NaN  United Kingdom
1455      536544     21821  ...        NaN  United Kingdom
1456      536544     21822  ...        NaN  United Kingdom
1457      536544     21823  ...        NaN  United Kingdom
1458      536544     21844  ...        NaN  United Kingdom
1459      536544     21851  ...        NaN  United Kingdom
1460      536544     21870  ...        NaN  United Kingdom
1461      536544     21871  ...        NaN  United Kingdom
1462      536544     21874  ...        NaN  United Kingdom
1463      536544     21879  ...        NaN  United Kingdom
1464      536544     21884  ...        NaN  United Kingdom
1465      536544     21888  ...        NaN  United Kingdom
1466      536544     21889  ...        NaN  United Kingdom
1467      536544     21892  ...        NaN  United Kingdom
1468      536544     21894  ...        NaN  United Kingdom
1469      536544     21911  ...        NaN  United Kingdom
1470      536544     21912  ...        NaN  United Kingdom
1471      536544     21913  ...        NaN  United Kingdom
...          ...       ...  ...        ...             ...
541511    581498     71053  ...        NaN  United Kingdom
541512    581498    72349b  ...        NaN  United Kingdom
541513    581498     79321  ...        NaN  United Kingdom
541514    581498    82001s  ...        NaN  United Kingdom
541515    581498     82482  ...        NaN  United Kingdom
541516    581498     82552  ...        NaN  United Kingdom
541517    581498     82580  ...        NaN  United Kingdom
541518    581498     82581  ...        NaN  United Kingdom
541519    581498     82600  ...        NaN  United Kingdom
541520    581498    84029E  ...        NaN  United Kingdom
541521    581498    84032A  ...        NaN  United Kingdom
541522    581498    84032B  ...        NaN  United Kingdom
541523    581498     84375  ...        NaN  United Kingdom
541524    581498    84509a  ...        NaN  United Kingdom
541525    581498    84558a  ...        NaN  United Kingdom
541526    581498     84832  ...        NaN  United Kingdom
541527    581498    84968e  ...        NaN  United Kingdom
541528    581498    84970s  ...        NaN  United Kingdom
541529    581498    84997a  ...        NaN  United Kingdom
541530    581498    84997b  ...        NaN  United Kingdom
541531    581498    84997d  ...        NaN  United Kingdom
541532    581498     85038  ...        NaN  United Kingdom
541533    581498     85048  ...        NaN  United Kingdom
541534    581498    85049a  ...        NaN  United Kingdom
541535    581498    85049e  ...        NaN  United Kingdom
541536    581498    85099B  ...        NaN  United Kingdom
541537    581498    85099C  ...        NaN  United Kingdom
541538    581498     85150  ...        NaN  United Kingdom
541539    581498     85174  ...        NaN  United Kingdom
541540    581498       DOT  ...        NaN  United Kingdom

[135080 rows x 8 columns]

**Exclude negative Quatity entries**

In [0]:
onlre = onlre.drop(index=(onlre[onlre['Quantity'] < 0]).index)

In [8]:
onlre[onlre['Quantity'] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

**Exclude negative Price entries**

In [0]:
onlre = onlre.drop(index=(onlre[onlre['UnitPrice'] < 0]).index)

### Step 3 - EDA

**The customer with the highest number of orders comes from the United Kingdom (UK)**

In [22]:
# Your code here
onlre[onlre['Country']=='United Kingdom'].sort_values(by='Quantity', ascending = False).head(1)

       InvoiceNo StockCode  ... CustomerID         Country
540421    581483     23843  ...    16446.0  United Kingdom

[1 rows x 8 columns]

**The customer with the highest money spent on purchases comes from Netherlands**

In [21]:
# Your code here
onlre[onlre['Country']=='Netherlands'].sort_values(by='UnitPrice', ascending = False).head(1)

       InvoiceNo StockCode  ... CustomerID      Country
338448    566557     22823  ...    14646.0  Netherlands

[1 rows x 8 columns]

**On which year had the highest sales?**

In [0]:
# Your code here

**How many orders (per hour)?**

**Make a plot about number of orders per hour**

**How many orders (per month)?**

**Make a plot about number of orders per month**

**Top 10 items most sales**

**Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK**

In [0]:
# Your code here

# What can you tell about this?

### You are awesome!!