### Python
#### Problem 1: Print Hello Worlds
The above code will print Hello, World! on your screen. Try it yourself in the editor below!

Input Format

You do not need to read any input in this challenge.

Output Format

Print Hello, World! to stdout.

In [ ]:
if __name__ == '__main__':
    print "Hello, World!"

#### Problem 2: Arithmetic Operators
Read two integers from STDIN and print three lines where:

1. The first line contains the sum of the two numbers.
2. The second line contains the difference of the two numbers (first - second).
3. The third line contains the product of the two numbers.
Input Format

The first line contains the first integer,a. The second line contains the second integer,b.

Constraints
1 <= a <= 10^10
1 <= b <= 10^10

 

Output Format

Print the three lines as explained above.

In [1]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print (a+b)
    print (a-b)
    print (a*b)

1
2
3
-1
2

#### Problem 3:  Division

Task 
Read two integers and print two lines. The first line should contain integer division, a//b. The second line should contain float division, a/b.

You don't need to perform any rounding or formatting operations.

Input Format

The first line contains the first integer,a. The second line contains the second integer,b.

Output Format

Print the two lines as described above.

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

#### Problem 4: Loops
Task 
Read an integer N. For all non-negative integers i<N, print i^2.See the sample for details.

Input Format

The first and only line contains the integer,N.

Constraints
1<=N<=20
Output Format

Print N lines, one corresponding to each i.

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range (n):
        print(i*i)

#### Problem 5: Print Function
Read an integer N.

Without using any string methods, try to print the following:
123....N

Note that "..." represents the values in between.

Input Format

The first line contains an integer N.

Output Format

Output the answer as explained in the task.

In [ ]:
if __name__ == '__main__':
    n = int(input())
    print(*range(1, n + 1), sep="")

### SQL
CITY

Field | Type
------------ | ------------
ID | NAME
NAME | VARCHAR2(17)
COUNTRYCODE | VARCHAR2(3)
DISTRICT | VARCHAR2(20)
POPULATION | NUMBER

#### Problem 1: Revising the Select Query II
Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

In [ ]:
SELECT NAME FROM CITY WHERE POPULATION > 120000 and COUNTRYCODE = "USA"

#### Problem2: Select All
Query all columns (attributes) for every row in the CITY table.

In [ ]:
SELECT * FROM CITY

#### Problem 3: Select By ID
Query all columns for a city in CITY with the ID 1661.

In [ ]:
SELECT * FROM CITY WHERE ID = 1661

#### Problem 4: Japanese Cities' Attributes
Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE = "JPN"

#### Problem 5: Japanese Cities' Names
Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE = "JPN"

CITY

Field | Type
------------ | ------------
ID | NUMBER
CITY | VARCHAR2(21)
STATE | VARCHAR2(2)
LAT_N | NUMBER
LONG_W | NUMBER

#### Problem 6: Weather Observation Station 1
Query a list of CITY and STATE from the STATION table.

In [ ]:
SELECT CITY, STATE
FROM STATION

#### Problem 7: Weather Observation Station 3
Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE ID % 2 = 0 ORDER BY CITY ASC

#### Problem 8: Weather Observation Station 4
Let N be the number of CITY entries in STATION, and let N' be the number of distinct CITY names in STATION; query the value of N - N' from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [ ]:
SELECT COUNT(CITY) - COUNT(DISTINCT CITY) FROM STATION

#### Problem 9: Weather Observation Station 5
Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [ ]:
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) ASC , CITY ASC LIMIT 1;
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) DESC , CITY DESC LIMIT 1;

#### Problem 10: Weather Observation Station 6
Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTRING(CITY,1,1) IN ("I","E","A","O","U")